# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Data files
data/
datasets/
dist/
*.h5
*.npz
*.npy

# Notebook checkpoints
.ipynb_checkpoints/

# Plots / outputs
*.png
*.jpg
*.pdf

# Logs
*.log

# OS junk
.DS_Store